<!DOCTYPE html>
<html>
    <head>
        <meta name="viwepoint" content="with=device-width, initial-scale=1.0" />
        <title>Bill's PortWeb</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="js/code.js"></script>
        
        <link rel="icon" type="image/x-icon" href="/catim/7.jpg">
        <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" />
        <style>
            span {
                color: rgb(180, 180, 180);
            }
        </style>
        <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
            new Crate({
                server: '1184179594077667488', // El Pepe C
                channel: '1184217296567275560' // #🤖・bot-chat
            })
        </script>
    </head>
    <body>
        <section class="sub-header">
            <nav>
                <a href="/"><img src="images/logo.png" /></a>
                <div class="nav-links" id="navLinks">
                    <i class="fas fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="bots">BOTS</a></li>
                        <li><a href="blog">BLOG</a></li>
                        <li><a href="cat">CAT</a></li>
                        <li><a href="#">C̵͉͋̔͞O̖̼ͩ͌͐N̺̻̔̆ͅT̨͈͗̌ͥA̷͙ͭͫ̕C̵͉͋̔͞T̨͈͗̌ͥ</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" onclick="showMenu()"></i>
            </nav>
            <h1>Blog thingy</h1>
        </section>

        <!------Blog page thingy------>

        <section class="blog-content">
            <div class="row">
                <div class="blog-left">
                    <img src="images/blog.jpg" />
                    <h2>Blog post thingy</h2>
                    <p>I am going to leave this as it as might work on this later , dont really know why i made a blog section in the first place</p>

                    <!-- <div class="comment-box">
                        <h3>Leave a comment</h3>
                        <form class="comment-form">
                            <input type="text" placeholder="Enter Name">
                            <input type="email" placeholder="Enter Email">
                            <textarea rows="5"placeholder="Your Comment"></textarea>
                            <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                        </form>
                    </div> -->
                </div>
                <div class="blog-right">
                    <h3>Languages</h3>
                    <div>
                        <span>JavaScript & JQuery</span>
                        <span>99%</span>
                    </div>
                    <div>
                        <span>C</span>
                        <span>38%</span>
                    </div>
                    <div>
                        <span>Html</span>
                        <span>75%</span>
                    </div>
                    <div>
                        <span>Css</span>
                        <span>80%</span>
                    </div>
                    <div>
                        <span>SQl</span>
                        <span>10%</span>
                    </div>
                    <div>
                        <span>Python</span>
                        <span>57%</span>
                    </div>
                </div>
            </div>
        </section>

        <!------Footer------>
        <section class="footer">
            <h4>About Us</h4>
            <p>Still learning.</p>
            <div class="icons">
                <a class="icon gradient fade" aria-label="Github" target="_blank" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Github" target="_blank" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Github" target="_blank" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
            </div>
            <p>Made by Bill ofc</p>
        </section>

        <!------JavaScript for toggle menu------>
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu() {
                navLinks.style.right = "0";
            }
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>
