<!DOCTYPE html>
<html>
    <head>
        <meta name="viwepoint" content="with=device-width, initial-scale=1.0" />
        <title>Bill's PortWeb</title>
        <link rel="icon" type="image/x-icon" href="/catim/15.jpg">
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="js/code.js"></script>
        
        <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" />
        
    </head>
    <body>
        <section class="sub-header">
            <nav>
                <a href="/"><img src="images/logo.png" /></a>
                <div class="nav-links" id="navLinks">
                    <i class="fas fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="bots">BOTS</a></li>
                        <li><a href="blog">BLOG</a></li>
                        <li><a href="cat">CAT</a></li>
                        <li><a href="#">C̵͉͋̔͞O̖̼ͩ͌͐N̺̻̔̆ͅT̨͈͗̌ͥA̷͙ͭͫ̕C̵͉͋̔͞T̨͈͗̌ͥ</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" onclick="showMenu()"></i>
            </nav>
            <h1>Cat Photo (Holy Moly)</h1>
        </section>

        <!------Contact us------>
        <section class="campus">
            <div class="row">
                <div class="campus-col">
                    <img src="images/cat1.jpg" />
                    <div class="layer">
                        <h3>Sir Fluffington</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="images/cat2.jpg" />
                    <div class="layer">
                        <h3>Whisker McTicklepants</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="images/cat3.jpg" />
                    <div class="layer">
                        <h3>Furrball Thunderpaws</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/1.jpg" />
                    <div class="layer">
                        <h3>Chairman Meow</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/2.jpg" />
                    <div class="layer">
                        <h3>Purrlock Holmes</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/3.jpg" />
                    <div class="layer">
                        <h3>Catrick Swayze</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/4.jpg" />
                    <div class="layer">
                        <h3>Kitty Smalls</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/5.jpg" />
                    <div class="layer">
                        <h3>Meowzart</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/6.jpg" />
                    <div class="layer">
                        <h3>Captain Nibbles</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/7.jpg" />
                    <div class="layer">
                        <h3>Sir Pounce-a-lot</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/8.jpg" />
                    <div class="layer">
                        <h3>Fluffy McSnugglepaws</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/9.jpg" />
                    <div class="layer">
                        <h3>Whiskerina Jolie</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/10.jpg" />
                    <div class="layer">
                        <h3>Catniss Everclean</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/11.jpg" />
                    <div class="layer">
                        <h3>Mr. Meowgi</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/12.jpg" />
                    <div class="layer">
                        <h3>Fuzz Lightyear</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/13.jpg" />
                    <div class="layer">
                        <h3>Paws Malone</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/14.jpg" />
                    <div class="layer">
                        <h3>Catrick Stewart</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/15.jpg" />
                    <div class="layer">
                        <h3>Meowington Hanks</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/16.jpg" />
                    <div class="layer">
                        <h3>Whiskerface McGee</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/17.jpg" />
                    <div class="layer">
                        <h3>Sir Biscuit Fluffington III</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/18.jpg" />
                    <div class="layer">
                        <h3>Meowzilla</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="campus-col">
                    <img src="catim/19.jpg" />
                    <div class="layer">
                        <h3>Captain Snugglepuff</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="catim/20.jpg" />
                    <div class="layer">
                        <h3>Sir Loin of Beef (or Sir Loin of Fluff)</h3>
                    </div>
                </div>
            </div>
        </section>

        <!------Footer------>
        <section class="footer">
            <h4>Links</h4>
            <p>:D</p>
            <div class="icons">
                <a class="icon gradient fade" aria-label="Github" target="_blank" id="¤-/9f6g7erger9g6e78rg/-Job" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Github" target="_blank" id="&-/qq089dqw9d9jq0wdjq9w8d/-work" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Github" target="_blank" id="2-/8RY76359Y879AE87Y/-home" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
            </div>
            <p>Made with ♥ by Bill</p>
        </section>

        <!------JavaScript for toggle menu------>
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu() {
                navLinks.style.right = "0";
            }
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>
