<!DOCTYPE html>
<html>
    <head>
        <meta name="viwepoint" content="with=device-width, initial-scale=1.0" />
        <title>Bill's PortWeb</title>
        <link rel="icon" type="image/x-icon" href="/catim/18.jpg" />
        <link rel="stylesheet" href="css/styles.css" />
        <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>
        <script src="js/code.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" />
        
    </head>

    <body class="dark">
        <section class="header">
            <nav>
                <a href="/"><img src="images/logo.png" /></a>
                <div class="nav-links" id="navLinks">
                    <i class="fas fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="bots">BOTS</a></li>
                        <li><a href="blog">BLOG</a></li>
                        <li><a href="cat">CAT</a></li>
                        <li><a href="#">C̵͉͋̔͞O̖̼ͩ͌͐N̺̻̔̆ͅT̨͈͗̌ͥA̷͙ͭͫ̕C̵͉͋̔͞T̨͈͗̌ͥ</a></li>
                    </ul>
                </div>
                <i class="fas fa-bars" onclick="showMenu()"></i>
            </nav>

            <div class="text-box">
                <h1>P o r t W e b</h1>
                <p>I really don't know why i made this website</p>
                <a href="contact" class="hero-btn">Visit us to know more</a>
            </div>
        </section>

        <!------Corse------>

        <span id="course">&nbsp</span>
        <section class="course">
            <h1>This Is What I Do</h1>
            <p>I dont know how to code , also yes :)</p>

            <div class="row">
                <div class="course-col">
                    <h3>How</h3>
                    <p>I am currently learning Rust, C# and C++</p>
                </div>
                <div class="course-col">
                    <h3>What?</h3>
                    <p>What! I don't know ¯\_(ツ)_/¯</p>
                </div>
                <div class="course-col">
                    <h3>WOAH</h3>
                    <p>ikr its cool</p>
                </div>
            </div>
        </section>

        <!------Campus------->

        <section class="campus">
            <h1>Our Website :D</h1>
            <p>yes :')</p>

            <div class="row">
                <div class="campus-col">
                    <img src="images/cat1.jpg" />
                    <div class="layer">
                        <h3>Sir Fluffington</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="images/cat2.jpg" />
                    <div class="layer">
                        <h3>Whisker McFuzzybutt</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="images/cat3.jpg" />
                    <div class="layer">
                        <h3>Chairman Meow</h3>
                    </div>
                </div>
            </div>
        </section>

        <!------Facilities------>

        <section class="facilities">
            <h1>Our Facilities</h1>
            <p>so like hi ?!</p>

            <div class="row">
                <div class="facilities-col">
                    <div class="box">💬・general-chat</div>
                    <h3>:D</h3>
                    <p>ok this yes</p>
                </div>
                <div class="facilities-col">
                    <div class="box">🔒・Meeting vc</div>
                    <h3>:|</h3>
                    <p>uhhh no ?</p>
                </div>
                <div class="facilities-col">
                    <div class="box">!!! Deadly meeting !!!</div>
                    <h3>>:c</h3>
                    <p>No nop get out !</p>
                </div>
            </div>
        </section>

        <!------testimonials------>

        <section class="testimonials">
            <h1>What Our Members Feels</h1>
            <p>Memers like our discord server for some reasons i dont know too!!</p>

            <div class="row">
                <div class="testimonial-col">
                    <img src="images/user1.jpg" />
                    <div>
                        <p>hi, i am heavily inspired by Bill. He and i used to play bobux together but now we cant :c,should blame nathan for that</p>
                        <h3>Hunter</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="testimonial-col">
                    <img src="images/user2.jpg" />
                    <div>
                        <p>What hunter said here is totally wrong, i used to play bobux with Bill not him</p>
                        <h3>Nathan</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </section>

        <!------Call To Action------>
        <section class="cta">
            <h1>Join Our Discord Server</h1>
            <a href="https://discord.gg/YEfQn2VtPq" class="hero-btn">JOIN</a>
        </section>

        <!------Footer------>
        <section class="footer">
            <h4>About Us</h4>
            <p>Still learning.</p>
            <div class="icons">
                <a class="icon gradient fade" aria-label="Discord" target="_blank" id="3-/5HAR9T87H7" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Discord" target="_blank" id="&-/qq089dqw9d9jq" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
                <a class="icon gradient fade" aria-label="Discord" target="_blank" id="&-/qa7e6gr987erg6w8d/" href="https://discord.com/users/640512148786642947">
                    <i class="fab fa-discord" style="font-size: 27px;"></i>
                </a>
            </div>
            <p>Made by Bill ofc</p>
        </section>

        <!------JavaScript for toggle menu------>

        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu() {
                navLinks.style.right = "0";
            }
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>
